@import "@styles/_variables";

.createBank {
    .btnPrimary, .btnPrimaryCancel {
        background-color: $primary;
        border: none;
        color: $neutral-1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btnPrimaryCancel {
        background-color: $status-error-2;
    }

    .title {
        font-size: 20px;
        color: $primary;
    }
}