//
// Font imports
//

// KoHo
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Montserrat
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// GoogleSans
@font-face {
    font-family: "GoogleSans";
    src: url("/fonts/GoogleSans/GoogleSans-Bold.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "GoogleSans";
    src: url("/fonts/GoogleSans/GoogleSans-BoldItalic.woff");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "GoogleSans";
    src: url("/fonts/GoogleSans/GoogleSans-Italic.woff");
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "GoogleSans";
    src: url("/fonts/GoogleSans/GoogleSans-Regular.woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "GoogleSans";
    src: url("/fonts/GoogleSans/GoogleSans-Light.woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "GoogleSans";
    src: url("/fonts/GoogleSans/GoogleSans-Thin.woff");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}
